* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../../img/payment/avvillas/background.png);
    padding: 12px;
}

h2 {
    letter-spacing: 2px;
    margin-top: 50px;
}

input {
    width: 80%;
    height: 50px;
    color: black;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid black;
    padding: 10px;
    margin-left: 7%;
    margin-top: 15px;
}

select {
    width: 90%;
    height: 55px;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-left: 6%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 20px 10px 10px 10px;
    outline: none;
    border: 1px solid;
}

.form label .input + span {
    position: absolute;
    left: 15px;
    top: 33px;
    transition: 0.3s ease;
}

.form label .input:focus + span,
.form label .input:valid + span {
    top: 18px;
    font-size: 0.7em;
}

.spinner-container {
    margin-bottom: 2rem;
    margin-top: 60%;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 4px solid rgba(232, 17, 75, 0.2);
    border-left: 4px solid rgb(232, 17, 75);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 3rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
