*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h2{
    letter-spacing: 2px;
    margin-top:50px;
}
input{
    width: 80%;
    height: 50px;
    color: black;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid black;
    padding: 10px;
    margin-left: 7%;
    margin-top: 15px;
}

.otp {
    margin-left: 0%;
}

select{
    width: 85%;
    height: 50px;
    color: black;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid black;
    padding: 10px;
    margin-left: 7%;
    margin-top: 15px;

}

.details {
    padding: 6px;
}