*{
    margin: 0;
    padding:0;
    font-family: arial, helvetica, sans-serif;
}

input{
    width: 86%;
    height: 45px;
    padding-left: 15px;
    
    border-radius: 7px;
    border: 1px solid rgb(219,219,219);
    margin-bottom: 10px;
}

select{
    width: 90%;
    height: 45px;
    padding-left: 15px;
    margin-top: 12px;
    background-color: white;
    color: black;
    border:1px solid rgb(219,219,219);
    margin-bottom: 12px;
}
