*{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{

    background-color: #fe6a00;

}

#texto{
    color :#fe6a00;
    font-size:26px;
    font-weight: 600;
}

#txtUser{
    width: 90%;
    height: 30px;
}

