* {

    font-family: arial, helvetica, sans-serif;
}
    .hidden {
      display: none;
    }

    select, input, button{
            width: 85%;
            height: 45px;
            background-color: white;
            color: black;
            border-radius: 10px;
            border:1px solid #dcdcdc;


    }
    label{
        font-size: 12px;
        margin-left: 33px;
    }

    select{
        border:1px solid #dcdcdc;
    }
    button{
        background-color:#1ca35a;
        color: white;
        border-radius: 10px;
    }